body {
  background-color: #3c3d40;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
/*HEADER SECTION*/
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url("../images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
  font-family: "Red Hat Text", sans-serif;
}

header h1 {
  font-size: 96px;
  line-height: 1;
  letter-spacing: 5px;
  margin: 30px 0;
  text-transform: uppercase;
}

header h2 {
  font-size: 23px;
  line-height: 1.5;
  margin: 0;
  font-weight: 300;
  text-transform: uppercase;
}

header h3 {
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
  text-transform: uppercase;
}

header a {
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  background: white;
  color: black;
  padding: 16px 32px;
  margin-top: 30px;
  display: inline-block;
  font-weight: 600;
}

section {
  max-width: 100%;
  padding: 50px;
}

p {
  margin: 0;
}
/*MAIN SECTION*/

.main-grid {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  padding: 50px 0;
}
.main-paragraph {
  margin: 40px 0;
  line-height: 1.3;
}
main img {
  width: 75%;
  display: block;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 30px;
}
main {
  background-color: white;
  font-family: "Red Hat Text", sans-serif;
  margin: 0 auto;
}

h2.main-head {
  letter-spacing: 2px;
  font-size: 30px;
}
main h3 {
  font-size: 30px;
  letter-spacing: 2px;
}
main p {
  font-size: 22px;
}

strong {
  color: #876464;
}

.main-highlight {
  font-size: 22px;
  font-family: "Red Hat Text", sans-serif;
  background-color: #ffe79a;
}
.circle {
  display: inline-block;
  border: 1px solid black;
  border-radius: 50%;
  padding: 5px 10px;
}

.underline {
  text-decoration: underline;
  font-weight: 400;
}

.wavy {
  display: inline-block;
  position: relative;
}
.wavy::before {
  content: "~~~~~~~~~~~~~~~~~~~~";
  font-size: 0.6em;
  font-weight: 900;
  font-family: Times New Roman, Serif;
  color: black;
  width: 100%;
  position: absolute;
  top: 16px;
  left: -1px;
  overflow: hidden;
}

/* BOOKSTORES IN LONDON */

section.secondary {
  background: #f8f8f8;
  font-family: "Red Hat Text", sans-serif;
}
h3.text-center {
  letter-spacing: 2px;
  font-size: 40px;
}

.text-center {
  text-align: center;
  margin: 5px 0;
}

.sub-heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 3px;
  color: #402a23;
  opacity: 0.8;
  text-transform: uppercase;
  text-align: center;
}

.grid-3-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  grid-gap: 10px;
}
.card {
  background: white;
  margin: 30px 0;
}

.secondary h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  margin-top: 0;
}

.secondary h5 {
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
}
.secondary p {
  font-size: 15px;
}
.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: #402a23;
  text-decoration: none;
  margin-top: 20px;
}

.card-2 {
  margin-top: 40px;
}

.card-footer {
  padding: 0 30px 30px;
}
.card-body {
  padding: 30px;
  margin: 0;
}

.secondary img {
  width: 400px;
  height: 250px;
  display: block;
  margin: 13px 15px;
}

/*READER'S AESTHETIC */

.aesthetic {
  background: #dfd3c3;
}

mark {
  background-color: white;
  font-size: 25px;
}

mark.sub-heading {
  text-align: center;
}

.pinterest-info {
  border: 2px solid black;
  background-color: #f2f2f2;
  font-family: "Reenie Beanie", cursive;
  font-size: 30px;
  text-align: center;
  padding: 13px;
  margin: 15px;
}

.tape {
  position: relative;
  text-align: center;
  display: inline-block;
  margin: 20px auto 10px;

  &:before,
  &:after {
    background: rgba(255, 255, 235, 0.6);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    content: "";
    display: block;
    height: 30px;
    position: absolute;
    margin: auto;
    width: 100px;
  }
}

.tape-2 {
  &:before {
    left: -30px;
    top: 8px;
    transform: rotate(-35deg);
  }

  &:after {
    right: -30px;
    top: 15px;
    transform: rotate(45deg);
  }
}

.aesthetic-middle {
  text-align: center;
}

.pinterest-embeds {
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
}
iframe {
  margin: 0px 5px 0px 5px;
  width: auto;

  display: flex;
  flex: 1;
}
/* FOOTER SECTION */

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  font-size: 15px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 20px;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 25px 0;
  font-family: "Red Hat Text", sans-serif;
}
footer h3 {
  font-size: 20px;
  line-height: 15px;
  letter-spacing: 2px;
}
footer p {
  margin: 0 10px;
  font-size: 17px;
}
.footer-links {
  margin: 35px 0;
  font-size: 17px;
}

.footer-links a {
  color: white;
  font-size: 19px;
}

.footer-links a:hover {
  font-weight: bold;
}

/* MEDIA SECTION */

@media (max-width: 960px) {
  header {
    padding: 90px 0;
  }

  header h1 {
    font-size: 40px;
    margin: 20px 0;
  }
  header h2 {
    font-size: 13px;
  }

  header h3 {
    font-size: 9px;
  }
  header a {
    font-size: 12px;
    padding: 10px 18px;
  }
  main section {
    padding: 60px 0;
  }
  .main-grid {
    grid-template-columns: 1fr;
    margin: 0px 25px;
  }
  main img {
    min-width: 70%;
    height: auto;
    border-radius: 10px;
  }

  main h2 {
    font-size: 24px;
    text-align: center;
  }
  main h3 {
    font-size: 22px;
    text-align: center;
  }
  main p {
    font-size: 18px;
    text-align: center;
  }

  .main-highlight {
    font-size: 18px;
    font-family: "Red Hat Text", sans-serif;
    background-color: #ffe79a;
  }

  section {
    padding: 30px 0;
  }
  .grid-3-columns {
    grid-template-columns: 1fr;
    display: block;
    margin: 0 auto;
  }

  .secondary img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
  .card-body {
    text-align: center;
  }

  .aesthetic {
    grid-template-columns: 1fr;
    grid-gap: 5px;
  }

  .sub-heading {
    text-align: center;
  }
  .pinterest-info {
    font-size: 18px;
  }

  footer h3 {
    font-size: 17px;
  }

  footer p {
    font-size: 14px;
  }
  .footer-grid {
    grid-template-columns: 1fr;
  }
  .footer-links {
    margin: 10px 20px;
  }
}
